<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auditing.work.dal.daointerface.DepartmentMapper">
    <resultMap id="DepartmentMap" type="com.auditing.work.dal.dataobject.Department">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name
    </sql>
    <select id="selectAllDepartment" resultMap="DepartmentMap">
        select
        *
        from
        department
    </select>
    <select id="selectDepartmentByName" resultMap="DepartmentMap" parameterType="java.lang.String">
        select * from department WHERE name=#{name,jdbcType=VARCHAR}
    </select>
    <select id="selectDepartmentById" resultMap="DepartmentMap" parameterType="java.lang.Integer">
        select * from department WHERE id=#{id,jdbcType=INTEGER}
    </select>
</mapper>